body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// global overrides
html,
body {
  height: 100% !important;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-card,
mat-card-title {
  margin: 0.5em;
  padding: 0.5em;
}
